doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Delete account
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #dddddd;
      }
      .header {
        text-align: center;
        margin-bottom: 20px;
      }
  body
    .container
      .header
        h1 Deleting account!
      p Hello #{name},
      p Delete account! Please click the link below to verify your email:
      p
        a(href=`${verificationLink}` target="_blank") Verify Email
      p If you didn’t request to delete your account, please ignore this email.